<div class="main-container">
  <div class="item-poster">
    <img class="image-big" src="../../assets/posters/cat1.jpg" />
  </div>
  <div class="item-poster">
    <img class="image-small" src="../../assets/posters/cat2.jpg" />
  </div>
  <div class="item-poster">
    <img class="image-small" src="../../assets/posters/cat4.jpg" />
  </div>
  <div class="item-poster">
    <img class="image-small" src="../../assets/posters/cat3.jpg" />
  </div>
  <div class="delimiter-line"></div>
  <div class="item-button">
    <button class="filter-button">Новинки</button>
    <button class="filter-button">Популярное</button>
    <button class="filter-button">Рекомендуем</button>
  </div>
  <div class="showcase-container">
    <app-showcase-item
      *ngFor="let item of productsShowcase"
      [imagePath]="item.imagePath"
      [productName]="item.productName"
      [productPrice]="item.productPrice"
    ></app-showcase-item>
  </div>
  <div class="delimiter-line"></div>
  <div class="news-header">Новости</div>
  <div class="showcase-container">
    <app-news-item
      *ngFor="let item of newsShowcase"
      [imagePath]="item.imagePath"
      [newsHeader]="item.newsHeader"
      [newsContent]="item.newsContent"
      [newsDate]="item.newsDate"
    >
    </app-news-item>
  </div>
</div>
