.news-image-item
    width: 300px
    height: 150px
    border: solid 1px #79787883
    border-radius: 5px 5px 

.news-header
    text-align: left
    font-size: 16px

.news-content
    text-align: left
    color: #858585
    font-size: 14px

.news-date
    text-align: left
    color: #858585
    font-size: 14px